.second_div {
  border: 10px solid #031303;
  border-top: none!important;
  margin-top: 0px!important;
}
.header {
  text-align: center;
}
.border_arrange,
.main_div,
.main_div .image {
  border: 10px solid rgba(30, 70, 30, 0.81);
}
.main_div {
  border-bottom: none!important;
  margin-bottom: 0px!important;
}
.main_div .image {
  background: transparent;
  float: left;
  height: 45%;
}
.main_div .image .img-thumbnail {
  height: 100%;
  width: 100%;
}
.main_div .card_div {
  background: transparent;
  float: right;
  height: 45%;
  text-align: center;
}
table {
  width: 100%;
}
table tr td {
  padding: 8px 8px 8px 8px;
}
dl dt {
  margin-left: 5%;
}
dl dd {
  margin-left: 10%;
}
dl dd .list1 {
  float: left;
}
dl dd .list2 {
  margin-left: 50%;
}
