.image {
  position: relative;
  opacity: 0.5;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.text {
  color: black;
  text-align: center;
  font: italic bold 30px Georgia, serif;
  position: absolute;
  top: 200px;
  left: 40px;
  width: 100%;
}
.new-button {
  background: black;
  color: white;
  width: auto;
  position: absolute;
  top: 500px;
  left: 450px;
  height: 50px;
}
.nav-fix {
  margin-top: 10%;
}
.nav-color {
  background-color: rgba(156, 121, 77, 0.5);
  border: 1px solid #a94442;
}
.nav-link:hover {
  background: rgba(156, 121, 77, 0.5);
}
.vertical-nav {
  background: #f9b9b8;
  border-right: 10px solid rgba(130, 81, 160, 0.22);
}
.main-body {
  border-right: 2px solid black;
}
.main-page-container,
.vertical-nav {
  text-align: center;
  height: 100%;
  font: bold 30px Georgia;
}
.botton-line {
  border-bottom: 1px  solid black !important;
}
