
<html ng-app="wordSearchApp">
	<head>
		<title>word-search</title>
		<!-- angular min file -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<script src="JS/controller.js"></script>
		<script src="JS/service.js"></script>
		<link rel="stylesheet" href="CSS/style.css">
	</head>
  <body ng-controller="wordSearch">
		<h2>WORD SEARCH</h2>
		<div class="col-xs-12 col-md-12 main-div">
			<p>find the below word in the boxes by click on them</p>
			<p>After selecting all the letters click on "find the word" button or press enter</p>
		</div>
		<div  class="container">
			<div class = 'col-md-9'>
			<div class="row" ng-repeat="eachRow in alphabetsArray track by $index" >
					<button class= "col-xs-2 cell" ng-repeat="alphabet in eachRow track by $index" ng-click="element($event,$parent.$index,$index,alphabet) " select id="{{$parent.$index}}{{$index}}"  ng-keyup="$event.keyCode === 13 && submit()">{{alphabet}}</button>
			</div>
			</div>
			<div class= 'col-md-3'>
			<button ng-click="submit()" >Find the word</button>
			<p>score is :{{count}}</p>
			<p>Time taken:{{timer}}</p>
			<div class ="col-md-12 box">
			<div class="inputClass"  ng-repeat="input in inputArray track by $index"  id="00{{$index}}">{{input}}</div>
		</div>
	</div>
		</div>
		<div class="modal fade" id="myModal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title">YOU HAVE COMPLETED THE LEVEL</h4>
		      </div>
		      <div class="modal-body">
		        <p>Your score is</p>
						<input value="{{count}}" ng-disabled="true">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
  </body>
</html>
