<div class="col-md-12 col-xs-12 nav-fix">

<div class="jumbotron">
  <h1 class="display-3">AngularJS</h1>
<section>
<p class="lead"> What is Angularjs ?</p>
<br>Angularjs support the JavaScript MVW framework (Model View Whatever). It is an structural framework for dynamic web apps. It supports it to running with the single page application. The main goal of it to develop Browser based application with model view controller(MVC).
<br>Angularjs support the JavaScript MVW framework (Model View Whatever). It is an structural framework for dynamic web apps. It supports it to running with the single page application. The main goal of it to develop Browser based application with model view controller(MVC).
<ul>
<li>Data Binding That is write in these braces {{}}.</li>
<li>For the Repetition/ hiding the DOM fragment  use the DOM Control structures.</li>
<li>Attach the code for the DOM elements.</li>
<li>Create a group of HTML as reusable component.</li>
</ul>
</section>
<div><iframe width="100%" height="50%" src="https://www.youtube.com/embed/zKkUN-mJtPQ?list=PL6n9fhu94yhWKHkcL7RJmmXyxkuFB3KSl" frameborder="0" allowfullscreen></iframe></div>
  <hr class="my-2">
  <p class="lead">FOr further reference click on this button
    <a class="btn btn-primary btn-lg" href="https://docs.angularjs.org/tutorial" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>
