<div class="col-md-12 col-xs-12 nav-fix">
<div class="jumbotron">
  <h1 class="display-3">css</h1>
<section>
<p class="lead"> What is CSS?</p>
<br>
<br>Cascading Style Sheets (CSS) is a simple method for adding style (e.g. fonts, colors, and spacing) to Web documents. Style sheets describe how documents are presented on screens, in print, or perhaps how they are pronounced. This has resulted in several W3C Recommendations (CSS1, CSS2, XPath, XSLT). (http://www.w3.org/Style/CSS/ ) CSS Level 1 especially is implemented in current version browsers.
By attaching style sheets to structured documents on the Web (e.g. HTML), authors and readers can influence the presentation of documents without sacrificing device-independence or adding new HTML tags. (http://www.w3.org/Style/ )
<br>
<br><p class="lead"> Benefits of Using CSS</p>
<br>
<p>Consistent look and feel to the site.</p>
<ul>
<li>With one or two stylesheets you can keep your site colors, fonts, links, and other elements the same throughout your site without having to hard code the same information on each and every page of your site.</li>
<li>Using CSS saves time.</li>
<li>While it may take a bit longer for the first page, especially if you are using a WYSIWYG editor to create your HTML you will save time on additional pages.</li>
<li>You can change the entire look and feel of a site by changing just the stylesheet.</li>
<li>No need to go through your site page by page to make sure the new ‘look’ is applied. – No more jarring contrasts because you overlooked a page on your redesign.</li>
<li>CSS Level 1 Basics</li>
</ul>
<br><p>Order of Cascade in Cascading Stylesheets (from 1-4 higher numbers over ride definitions in lower numbered stylesheet)</p>
<ul>
<li>Browser default</li>
<li>External Style Sheet</li></ul>
<br>< link rel="stylesheet" type="text/css" href="stylesheet.css" />
<br>Internal Style Sheet (inside the < head> tag)
<br>< style type=”text/css”>
<br>
<br>body{background-color: #ffffff; color: #000000;}
<br>Inline Style (inside HTML element)
<br>< h1 style=”color; font-size=”3em”>
<br><p class="lead"> Styling HTML</p>
<br>
<br>Any HTML tag can be ‘styled’ using CSS but not all browsers support all tags. A table of browser support by attribute is available at webreview.com or richinstyle.com
<br>
<br>Create custom classes to apply to limited sections of your page such as < h2 class=”green”> when the h2 tag is defined as red but you want one (or more) instance to be green. Examples of CSS Level 1 stylesheets used at the live presentation.

</section>
<div><iframe width="100%" height="50%" src="https://www.youtube.com/embed/0afZj1G0BIE" frameborder="0" allowfullscreen></iframe></div>
  <hr class="my-2">
  <p class="lead">For further reference click on this button
    <a class="btn btn-primary btn-lg" href="http://www.csstutorial.net/" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>
