<div class="col-md-12 col-xs-12 nav-fix">
<div class="jumbotron">
  <h1 class="display-3">css3</h1>
<section>CSS (Cascading Style Sheets) consist of a group of formatting rules that you use to control the layout and appearance of the content on a web page. One really great feature of CSS is that you can store all the CSS rules in one document and keep that document separate from the HTML content and link the two together. Then, when you make a change to the CSS that change is instantly and automatically updated on all the HTML files. Another great feature is that it "cleans up" the appearance of the code on web pages. In addition it will speed up browser loading times.
</section><br>
<section>What CSS gives you is incredible control over the appearance of your page. You can control properties such as font sizes, bolding, italics, text shadows and color, link color and much more. And of course you can go far beyond that with page layout tools, boxes, formatting, positioning, etc. In CSS3, there are many options, a few which we'll look at here. These include animation, gradients, media queries, shadows, transitions, the font-face rule that allows you to embed fonts on a web page, and more.
</section><br>
<p class="lead">Gradient</p><br>
<section>In CSS3, there's more support for gradients with the <image> tag. This property allow you to disply smooth transitions between two or more colors using the browser instead of images. This reduces download times. The browser supports two types of gradients: Linear and Radial. The linear gradient is defined with teh linear-gradient function, while radial is defined with the radial-gradient function.
</section>
</p class="lead">CSS3 Media Queries</p>
<section>Mobile devices have dramatically changed the way that people function. Not only that, but there are many different types of devices, such as smartphones, tablets and others. All have different dimensions and web designers are faced with the challenge of making sure that their websites display properly on each device.
<br>
<br>Media queries are designed to handle this issue. Media queries build on the CSS2 property. They allow for mutltiple rule sets which are based on the capabilities of the browser. These include height and width controls, screen orientation and resolution. This gives you greater control over how your content is displayed and allows the designer to optimize the layout and design for different devices.
</section>
<div><iframe width="100%" height="50%" src="https://www.youtube.com/embed/OqM37_D2AXQ" frameborder="0" allowfullscreen></iframe></div>
  <hr class="my-2">
  <p class="lead">For further reference click on this button
    <a class="btn btn-primary btn-lg" href="http://www.css3-tutorial.net/" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>
