<div class="col-md-12 col-xs-12">
<div class="jumbotron">
  <h1 class="display-3">CSS</h1>
  <ul>
    <li>CSS stands for Cascading Style Sheets</li>
    <li>CSS describes how HTML elements are to be displayed on screen, paper, or in other media</li>
    <li>CSS saves a lot of work. It can control the layout of multiple web pages all at once</li>
    <li>External stylesheets are stored in CSS files</li>
  </ul>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.CSS.css" role="button">Learn more</a>
  </p>
</div>
<div class="jumbotron">
	<h1 class="display-3">CSS3</h1>
  <p class="lead">CSS3 has been split into "modules". It contains the "old CSS specification" (which has been split into smaller pieces). In addition, new modules are added.</p>
  <p>Some of the most important CSS3 modules are:</p>
  <ul>
    <li>Selectors</li>
    <li>Box Model</li>
    <li>Backgrounds and Borders</li>
    <li>Image Values and Replaced Content</li>
    <li>Text Effects</li>
	<li>2D/3D Transformations</li>
	<li>Animations</li>
  </ul>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.CSS.css3" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h1 class="display-3">Bootstrap</h1>
  <p class="lead">Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites.</p></br>

<p>Bootstrap is completely free to download and use!</p>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.CSS.bootstrap" role="button">Learn more</a>
  </p>
</div>
</div>
