<div class="col-md-12 col-xs-12">
<div class="jumbotron">
  <h1 class="display-3">HTML5</h1>
  <section>The first thing to realize about HTML5 is, it's not a single entity. It's comprised of many elements, including the fifth revision of HTML, CSS3 and many JavaScript API's. It allows you to use the multimedia experience of the desktop on the web. Prior to this technology, experiences of this kind could only work on the desktop.</section

<section>With HTML5, developers can create apps and websites that function like desktop applications, which allows you to use the web platform to reach all of your users at once. Users no longer have to download apps for multiple devices, They can start an app by clicking on a link or button and not have to worry about having the latest update.</section>

<section>An interesting aspect of HTML5 is that it will allow you to create apps that function even when not connected, or when your system is offline. The trick is being able to store the assets and content locally. When this is done, the app works, regardless of where you go or if your system is online. Another one of the positive aspects of the offline features is being able to store data in the cache or in such a way that allows the data to be retained even if the page is reloaded.</section>

<section>With HTML5, you can make use of a wide variety of graphics elements, such as animation, games, movies, etc. Even intense graphics effects such as lightning and shadows, 3D, special effects, vector graphics and so on are supported. A major advance is with the JavaScript engines, which are fast enough to run these applications in real time. Hardware accelerated rendering is being used in modern browsers to create smooth rendering and transitions. What this means is that browsers are using the GPU (Graphics Processing Unit) to speed up computing tasks, which will improve the user experience.</section>

<section>HTML5 tags are backwards compatible so that HTML 4-based content won't destroy HTML5 content. The former HTML structure and formatting is retained.
Several new tags have been added, some of which are: < audio> is used for sound, < video> for video playback, < canvas> for dynamic graphics. HTML5 allows SVG and MathML graphics to be embedded inline or linked within the HTML content. The result is that developers can include complex imagery without images, nor do they need to rely on third party platforms. All the content can be in one HTML file. It's also possible work with SVG imagery using JavaScript and manipulate aspects of the images, as well.</section>

<section>With HTML5 ,you can add audio directly to a web page. Be aware that while you can control the element with HTML or JavaScript, the specification doesn't cover which the types of codecs supported and this will vary with each browser. Before beginning your HTML5 development, this needs to be checked.</section>

<section>
HTML5 allows you to embed video directly into a web page. Be aware that while the video element has been standardized, how the video codec is supported varies with each browser, so it's important to check that as part of your development process.</section>
  <hr class="my-2">
  <p class="lead">FOr further reference click on this button
    <a class="btn btn-primary btn-lg" href="http://www.html-5-tutorial.com/" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>