<div class="col-md-12 col-xs-12 nav-fix">
<div class="jumbotron">
  <h1 class="display-3">HTML</h1>
  <section>HTML, or HypertextMarkupLanguage, is used by web programmers to describe the contents of a web page. It is not a programming language. You simply use HTML to indicate what a certain chunk of text is-such as a paragraph, a heading or specially formatted text. All HTML directives are specified using matched sets of angle brackets and are usually called tags. For example <B> means that the following text should be displayed in bold. To stop the bold text, use the </B> directive. Most HTML directives come in pairs and surround the affected text.</section

<section>HTML documents need to have certain tags in order for them to be considered "correct". The < HEAD>..</ HEAD> set of tags surround the header information for each document. Inside the header, you can specify a document title with the < TITLE>..</ TITLE> tags.</section>

<section>Tip HTML tags are case-insensitive. For example, < TITLE> is the same as < title>. However, using all upper case letters in the HTML tags make HTML documents easier to understand because you can pick out the tags more readily.</section>

<section>After the document header, you need to have a set of < BODY>..</ BODY> tags. Inside the document's body, you specify text headings by using a set of < H1>..</ H1> tags. Changing the number after the H changes the heading level. For example, < H1> is the first level. < H2> is the second level, and so on.</section>

<section>You can use the < P> tag to indicate paragraph endings or use the < BR> to indicate a line break. The < B>..</ B> and < I>..</ I> tags are used to indicate bold and italic text.</section>

<section>The text and tags of the entire HTML document must be surrounded by a set of < HTML>..</ HTML> tags. For example:</section>

<section>
< HTML><br>
< HEAD>< TITLE>This is the Title</ TITLE></ HEAD></br>
< BODY></br>
< H1>This is a level one header</ H1></br>
This is the first paragraph.</br>
< P>This is the second paragraph and it has < I>italic</ I> text.</br>
< H2>This is a level two header</ H2></br>
This is the third paragraph and it has < B>bold</ B> text.</br>
</ BODY></br>
</ HTML></br>
Most of the time, you will be inserting or modifying text inside the < BODY>..</ BODY> tags.</section>
  <hr class="my-2">
  <p class="lead">FOr further reference click on this button
    <a class="btn btn-primary btn-lg" href="http://html.com/" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>
