<div class="col-md-12 col-xs-12 nav-fix">

<div class="jumbotron">
  <h1 class="display-3">Javascript</h1>
<section>
<p class="lead"> What is JavaScript ?</p>
<br>Javascript is a dynamic computer programming language. It is lightweight and most commonly used as a part of web pages, whose implementations allow client-side script to interact with the user and make dynamic pages. It is an interpreted programming language with object-oriented capabilities.
<br>The merits of using JavaScript are:
<ul>
<li><strong>Less server interaction</strong> — You can validate user input before sending the page off to the server. This saves server traffic, which means less load on your server.</li>
<li><strong>Immediate feedback to the visitors</strong> — They don't have to wait for a page reload to see if they have forgotten to enter something.</li>
<li><strong>Increased interactivity</strong> — You can create interfaces that react when the user hovers over them with a mouse or activates them via the keyboard.</li>
<li><strong>Richer interfaces</strong> — You can use JavaScript to include such items as drag-and-drop components and sliders to give a Rich Interface to your site visitors.</li>
</ul>
</section>
<div><iframe width="100%" height="50%" src="https://www.youtube.com/embed/vZBCTc9zHtI" frameborder="0" allowfullscreen></iframe></div>
  <hr class="my-2">
  <p class="lead">For further reference click on this button
    <a class="btn btn-primary btn-lg" href="http://javascript.info/" target="_blank" role="button">Learn more</a>
  </p>
</div>
</div>
