<div class="col-md-12 col-xs-12">
<div class="jumbotron">
  <h1 class="display-3">Javascript</h1>


  <ul>
    <li>JavaScript is a high-level, dynamic, untyped, and interpreted programming language.</li>
    <li>It has been standardized in the ECMAScript language specification</li>
    <li>Alongside HTML and CSS, JavaScript is one of the three core technologies of World Wide Web content production; the majority of websites employ it, and all modern Web browsers support it without the need for plug-ins</li>
  </ul>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.JS.javascript" role="button">Learn more</a>
  </p>
</div>
<div class="jumbotron">
	<h1 class="display-3">JQUERY</h1>
  <p>An open source JavaScript library that simplifies the interaction between HTML and JavaScript.</p>
  <br>Built in an attempt to simplify the existing DOM APIs and abstract away cross-browser issues.
  <p class="lead">Why jQuery?</p>
  <ul>
    <li>Fully documented.</li>
    <li>Great community.</li>
    <li>Tons of plugins.</li>
    <li>Small size (23kb)</li>
  </ul>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.JS.jquery" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h1 class="display-3">AngularJS</h1>
  <p class="lead">AngularJS is a JavaScript framework. It can be added to an HTML page with a < script> tag.</p></br>

<p>AngularJS extends HTML attributes with <strong>Directives</strong>, and binds data to HTML with <strong>Expressions</strong>.

</p>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="home.JS.angularjs" role="button">Learn more</a>
  </p>
</div>
</div>
