<div class="row head-margin visile-sm visible-md ">
    <div class=" col-md-3 offset-md-1 "><img  src="assets/html.jpg" style= "height:40%"></div>
    <div class=" col-md-3 offset-md-1 "><img src="assets/css.jpg" style= "height:40%"></div>
    <div class=" col-md-3 offset-md-1 "><img src="assets/js.jpg" style= "height:40%"></div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-remodified">
  <div class="container main-page-container">
    <div class=" col-md-4 col-xs-12 box " style="margin-bottom:0">
      <ul class="nav nav-pills nav-stacked myNav">
        <li class="nav-item ">
          <a class="nav-link" ui-sref="home.html.HTML">Html</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.html.HTML5">Html_5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.html.XML">XML</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 box" >
      <ul class="nav nav-pills nav-stacked myNav">
        <li class="nav-item ">
          <a class="nav-link" ui-sref="home.CSS.css">CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.CSS.css3">CSS3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.CSS.bootstrap">Bootstrap</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-12 box" style="text-align:center">
      <ul class="nav nav-pills nav-stacked myNav">
        <li class="nav-item ">
          <a class="nav-link" ui-sref="home.JS.javascript">JavaScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.JS.jquery">JQuery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="home.JS.angularjs">AngularJS</a>
        </li>
      </ul>
    </div>
  </div>
</div>
