
<nav class="navbar navbar-light bg-faded nav-color " style="padding:0px!important;margin:0 !important">
  <button style="background-color:white !important;width:100px;height:50px;"class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" ui-sref="main">Home</a>
    <ul class="nav navbar-nav navbar-right" style="margin-top:2%">
      <li class="nav-item">
        <a class="nav-link" ui-sref="home.html">Html</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="home.CSS">CSS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="home.JS">Javascript</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row" ui-view = "content"></div>
